<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"> 
        <link rel="stylesheet" href="email.css"/>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-8">
                <h3><p class="text-center">$heading</p></h3>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default text-left">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="text-center"><h5>$message</h5></p>
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                
                                            </div>

                                            <h:outputLabel styleClass="control-label col-sm-3"/>
                                            <div class="col-sm-5">
                                                <p class="text-left">
                                                <form action="$action" target="_blank">
                                                    <button type="submit" class="btn-default">Submit</button>
                                                </form>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
</html>
