<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>main.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>org.gdf.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>org.gdf.servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TempImageServlet</servlet-name>
        <servlet-class>org.gdf.servlet.TempImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeederImageServlet</servlet-name>
        <servlet-class>org.gdf.servlet.UserDeederImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewUserDeeder</servlet-name>
        <servlet-class>org.gdf.servlet.ReviewUserDeederServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TempImageServlet2</servlet-name>
        <servlet-class>org.gdf.servlet.TempImageServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageMapServlet</servlet-name>
        <servlet-class>org.gdf.servlet.ImageMapServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TempImageServlet</servlet-name>
        <url-pattern>/TempImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeederImageServlet</servlet-name>
        <url-pattern>/UserDeederImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewUserDeeder</servlet-name>
        <url-pattern>/ReviewUserDeeder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TempImageServlet2</servlet-name>
        <url-pattern>/TempImageServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageMapServlet</servlet-name>
        <url-pattern>/ImageMapServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>false</param-value>
    </context-param>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.xhtml</location>
    </error-page>
    <!-- security-constraint>
        <web-resource-collection>
        <web-resource-name>Viewpoint Secure URLs</web-resource-name>
        <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint -->
</web-app>
